.cover__link{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    position: relative;
    row-gap: 32px;
    color: #fff;
    text-decoration: none;
}

.cover__link:hover .cover__overlay{
    opacity: 0.8;
}