.photo-grid{
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 284px));
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    margin: 0 auto;
    padding: 92px 48px 0 48px;
}