.cover__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 2;
  justify-self: center;
  align-self: start;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    text-align: end center;
  }
}
