.places__image-container {
  grid-area: places__image;
  align-self: start;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .places__image-container {
    position: relative;
    width: calc(100% + 32px);
    right: 16px;
  }
}
