.cover__overlay{
    background: #2A2C2F;
    opacity: 0.3;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 1;
    transition: opacity 0.3s linear;
}

.cover__link:hover .cover__overlay{
    opacity: 0.8;
}